.night {
    background-image: url("/img/BGNight.png");
    background-repeat: no-repeat;
    min-height: 568px;
    width: 320px;
    background-color: #12170F;
}

.twilight {
    background-image: url("/img/SchemerBG.png");
    background-repeat: no-repeat;
    min-height: 568px;
    width: 320px;
    background-color: #182617;
}

.day {
    background-image: url("/img/OverdagBG.png");
    background-repeat: no-repeat;
    min-height: 568px;
    width: 320px;
    background-color: #3B4C37;
}

h1 {
    font-family: 'Crushed', cursive;
    color: #fff;
    text-align: center;
}

body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.first {
    margin-top: 120px;
}

.margin {
    margin-top: 20px;
}

.addshadow {
    box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.75);
}